<h1>My ToDo List</h1>
<a href="{% url 'tasks:create' %}">Add new task</a>
<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'tasks:task' task.id %}">View</a></td>
        <td><a href="{% url 'tasks:update' task.id %}">Edit</a></td>
        <td><a href="{% url 'tasks:delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h4>There are no tasks. Please add new tasks.</h4>
    {% endfor %}
</table>